<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.andresjimenezm.nbt"
    version   = "1.0.0">

<name>NBT</name>

<description>
NBT app.
</description>

<preference name="fullscreen" value="true" />
<author href="https://www.andresjimenezm.com" email="andresjimenezm@hotmail.com">
Andres Jimenez M.
</author>

</widget>
